**/__pycache__/
**/.mypy_cache/
/.hooks/
/static/
/.direnv/
/.*env*/**
/.env*
/.git/
/.github/
/.pytest_cache/
/.vscode/
**/*.egg-info/**
/*.key
.idea
db.sqlite3
env
/media/
/venv/
/.venv/
/kausal_paths_extensions/
/Attic/
/tmp/
node_modules/**
/e2e-tests/
/.ruff_cache/
/local_settings.py
/query-story/**
**/*~
.secrets/**
/bin
