*~
*.mo
*.pyc
/.django_secret
oidc.key
**/__pycache__
**/node_modules
*.sqlite3
/local_settings.py
static/**
tmp/**
*.bz2
*.xlsx
.env*
venv/**
Attic/**
media/**
*.sublime-project
*.sublime-workspace
data/**
.vscode/**
.idea/**
.direnv/**
.venv/**
.mypy_cache/**
.git
.DS_Store
**/.ipynb_checkpoints
**/.virtual_documents
/docker-compose.override.yml
/kausal_paths_extensions
/bin/**
/query-store/**
/model-outputs/**
/store/**
celerybeat-schedule
