default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: run-ruff
        name: Run Ruff
        types: [python]
        stages: [pre-commit]
        language: script
        require_serial: true
        entry: kausal_common/development/git-hooks/ruff-pre-commit.sh

      - id: check-submodules
        name: Check submodules
        stages: [pre-push]
        types: [directory]
        language: script
        require_serial: true
        entry: kausal_common/development/git-hooks/check-submodules.sh
