[build-system]
requires = ["setuptools>=61.2"]
build-backend = "setuptools.build_meta"

[project]
name = "kausal-paths"
dynamic = ["version"]

[tool.isort]
atomic = true
combine_as_imports = true
indent = 4
sections = ['FUTURE', 'STDLIB', 'DJANGO', 'THIRDPARTY', 'FIRSTPARTY', 'LOCALFOLDER']
known_django = [
    'django', 'rest_framework', 'graphene', 'graphql', 'graphene_django', 'modelcluster', 'modeltrans', 'wagtail'
]
line_length = 80
multi_line_output = 5
skip = "migrations"
wrap_length = 80

[tool.pep8]
max-line-length = "120"
ignore = "E309"

[tool.ruff]
line-length = 130

[tool.ruff.lint.isort]
split-on-trailing-comma = false
required-imports = ["from __future__ import annotations"]


[tool."pylint.MASTER"]
load-plugins = "pylint_django"
django-settings-module = "paths.settings"

[tool."pylint.FORMAT"]
max-line-length = "120"

[tool."pylint.MESSAGES CONTROL"]
disable = """
consider-using-f-string,raise-missing-from,
too-few-public-methods,no-member,no-self-use,no-self-argument,
missing-class-docstring,missing-module-docstring,missing-function-docstring,
invalid-name,too-many-instance-attributes,redefined-builtin,
protected-access,unused-argument,logging-fstring-interpolation,
logging-not-lazy,consider-using-f-string"""

[tool."pylint.TYPECHECK"]
ignored-modules = "orjson"

[tool.pydocstyle]
ignore = "D100,D104,D105,D200,D203,D400"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "paths.tests.settings"
norecursedirs = ["node_modules", "data", ".git", "venv", "Attic"]
filterwarnings = ["ignore::DeprecationWarning:graphene"]

[tool.mypy]
plugins = [
    "mypy_django_plugin.main",
    "numpy.typing.mypy_plugin",
    "pydantic.mypy",
]
mypy_path = "typings"
exclude = [
    '^Attic/',
    '^typings/',
    '^local_settings\.py',
]
check_untyped_defs = true


[[tool.mypy.overrides]]
module = [
    "colored.*", "dvc_pandas.*", "factory.*", "pint.*", "pint_pandas.*", "oauth2_provider.*", "modelcluster.*",
    "modeltrans.*", "wagtail.*", "networkx.*", "plotext.*", "graphene_django.*", "grapple.*", "generic_chooser.*",
    "nanoid.*", "social_core.*", "social_django.*", "plotly.*", "rest_framework_nested.*", "environs.*",
    "wagtail_modeladmin.*", "wagtail_color_panel.*",
]
ignore_missing_imports = true

[tool.pyright]
stubPath = "./typings"

[tool.django-stubs]
django_settings_module = "paths.settings"

[tool.setuptools]
include-package-data = false
