-r kausal_common/requirements-common.txt
psycopg[pool]
pandas
python-dotenv
wagtail>=5.2
django
django-environ
django-cors-headers
sentry_sdk[django,opentelemetry]
djangorestframework
django-extensions
dvc-pandas
ipython
numba
pint>=0.22
pint-pandas
colored
factory-boy
pytest-django
pytest-factoryboy
pytest-html
orjson
redis
pint-pandas
https://github.com/kausaltech/django-modeltrans/archive/a734040c3f38c2e404a61dc0be2c017874a9ea45.zip
graphene-django>=3.0
graphene-django-optimizer
wagtail-localize>=1.7rc1
wagtail-grapple
graphql-core>=3.2.0
graphql-relay>=3.2.0
rich
Babel
ruamel.yaml
pygments-graphql
watchfiles
django-oauth-toolkit
pycryptodome
pydantic
polars
drf-nested-routers
drf-spectacular
social-auth-app-django
django-storages
tzdata  # needed for pytz
colormath
wagtail-font-awesome-svg
wagtail-generic-chooser
https://github.com/torchbox-forks/wagtail-color-panel/archive/6ed313955482b5893353898006c1300a22821446.zip
wagtail-color-panel
loguru
gql[requests]
logfmter
s3cmd
recursive-diff
PyGithub
django-stubs-ext
celery
django-celery-results
openpyxl
