-c requirements.txt
-c requirements-dev.txt
#-c requirements-dev.txt
#-c requirements-lint.txt
jupyterlab>4.0
jupyterlab-lsp
seaborn[stats]
plotly
#python-lsp-server[all]
jedi-language-server
pyright
ipympl
strawberry-graphql[cli]
altair
great_tables
