-c requirements.txt
mypy
mypy-baseline
pandas-stubs
graphene-stubs
django-stubs
types-orjson
djangorestframework-stubs
ruff
types-factory-boy
celery-types
types-openpyxl
pyarrow-stubs
types-pygit2
types-oauthlib
types-networkx
