psycopg2-binary
pandas
python-dotenv
wagtail
django
django-environ
django-cors-headers
sentry_sdk
djangorestframework
django-extensions
scipy
dvc-pandas
ipython
numba
pint
pint-pandas
colored
factory-boy
pytest-django
pytest-factoryboy
orjson
redis
wagtailfontawesome
pint-pandas
https://github.com/kausaltech/django-modeltrans/archive/27bd15f13f091e9ac388241bfce902da98074a55.zip
graphene-django
https://github.com/kausaltech/graphene-django-optimizer/archive/f18d827d0d58c1148288b6b886c167dd2fc1931a.zip
wagtail-localize
https://github.com/kausaltech/wagtail-grapple/archive/be8e27bee0d7eae6a943ca360d8b4211bfded4c4.zip
graphql-core>=3.2.0
graphql-relay>=3.2.0
rich
Babel
ruamel.yaml
pygments-graphql
watchfiles
django-oauth-toolkit
pycryptodome
pydantic
polars
