psycopg2-binary
pandas
python-dotenv
wagtail
django==3.2.*
django-environ
django-cors-headers
graphene-django
graphene-django-optimizer
sentry_sdk
djangorestframework
django-extensions
scipy
dvc-pandas
ipython
pint
pint-pandas
colored
factory-boy
pytest-django
pytest-factoryboy
