@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --w-font-sans: "Inter";
    /*--w-font-mono: Inconsolata;*/
    --w-color-primary-hue: 160;
    --w-color-secondary-hue: 160;
    --w-color-grey-50: #ECEAE6;
    --w-color-grey-100: #E1DFDA;
    --w-color-grey-150: #D8D5CF;
    --w-color-grey-200: #CBC7C1;
    --w-color-grey-400: #9F9A92;
    --w-color-grey-500: #88847C;
    --w-color-grey-600: #5C5853;
    --w-color-grey-700: #46423E;
    --w-color-grey-800: #302D2B;
    --w-color-grey-900: #302D2B;

    --w-login-fullscreen-background: radial-gradient(100% 300.28% at 100% 0%,var(--w-color-primary) 0%,var(--w-color-primary) 32.94%,var(--w-color-primary) 49.9%,var(--w-color-primary) 50.2%,var(--w-color-secondary) 100%);
    --w-color-surface-menus: var(--w-color-grey-700);
    --w-color-surface-menu-item-active: var(--w-color-grey-800);
    --w-color-text-label-menus-default: var(--w-color-white);
    --w-color-text-label-menus-active: var(--w-color-grey-50);
}

.sidebar-custom-branding {
    margin: 1rem auto;
}

.sidebar--slim .sidebar-custom-branding {
    padding: 10px 0;
}

.login .login-logo {
    width: 3.5rem;
}


.w-header h1 {
    font-weight: 600;
}

.page-explorer .w-breadcrumb li:only-child a, .page-explorer .w-breadcrumb li[hidden]~li:last-child a {
    font-weight: 600;
}