nodes:

- id: non_heating_electricity_emissions_historical
  name: Sähkönkulutuksen päästöt, historialliset
  type: generic.GenericNode
  quantity: emissions
  unit: t/a
  input_dimensions: [emission_sector, economic_sector]
  output_dimensions: [emission_sector, economic_sector]
  input_datasets:
  - id: hsy/pks_khk_paastot
    tags: [baseline]
    column: Päästöt
    filters:
    - rename_col: Sektori2
      value: emission_sector
    - rename_col: Sektori4
      value: economic_sector
    - rename_col: Vuosi
      value: Year
    - column: Kaupunki
      ref: municipality_name
    - column: Sektori1
    - column: emission_sector
      value: Kulutussähkö
      drop_col: false
    - column: Sektori3
      flatten: true

- id: non_heating_electricity_emissions_uncorrected
  name_fi: Kulutussähkön päästöt, korjaamaton
  name_en: Consumption electricity emissions, uncorrected
  name_sv: Utsläpp från konsumtionsel
  type: generic.GenericNode
  quantity: emissions
  unit: kt/a
  color: '#0047b6'
  input_dimensions: [economic_sector, energy_carrier]
  output_dimensions: [economic_sector, energy_carrier]
  input_nodes:
  - id: residual_emission_factor
    from_dimensions:
    - id: do_correction
      flatten: true
    to_dimensions:
    - id: energy_carrier
  - id: non_heating_electricity_energy

- id: non_heating_electricity_emissions
  name_fi: Kulutussähkön päästöt
  name_en: Consumption electricity emissions
  name_sv: Utsläpp från konsumtionsel
  type: generic.CoalesceNode
  quantity: emissions
  unit: kt/a
  color: '#0047b6'
  input_dimensions: [emission_sector, economic_sector]
  output_dimensions: [emission_sector, economic_sector]
  input_nodes:
  - id: non_heating_electricity_emissions_historical
    tags: [inventory_only, primary]
  - id: non_heating_electricity_emissions_uncorrected
    from_dimensions:
    - id: energy_carrier
      flatten: true
    to_dimensions:
    - id: economic_sector
    - id: emission_sector
      categories: [non_heating_electricity]
  params:
    operations: add,coalesce
  output_nodes:
  - id: net_emissions

- id: total_electricity_consumption
  name_fi: Sähkön kokonaiskulutus Suomessa
  name_en: Total electricity consumption in Finland
  name_sv: Total elförbrukning i Finland
  type: gpc.DatasetNode
  quantity: energy
  unit: TWh/a
  input_dimensions: [energy_carrier]
  output_dimensions: [energy_carrier]
  input_datasets: # TODO Use HSY data instead
  - id: gpc/espoo
    filters:
    - column: Slice
      value: electricity
  params:
    sector: Sähkön kysyntäennuste (TWh)

- id: green_electricity_index
  name: Vihreä sähkön indeksi
  type: generic.GenericNode
  quantity: ratio
  unit: dimensionless
  input_dimensions: [energy_carrier, do_correction]
  output_dimensions: [energy_carrier, do_correction]
  input_datasets:
  - id: espoo/vihrean_sahkon_indeksi
    tags: [baseline]
    column: vihrea_sahko_paastotonta

- id: residual_emission_factor
  name_fi: Päästökerroin sähkölajeittain
  name_en: Emission factor by electricity type
  name_sv: Residual emissionsfaktor
  description_fi: Tämä päästökerroin tarkastelee erikseen vihreää ja muuta sähköä. Kokonaispäästökertoimesta on siis otettu pois päästöttämän vihreän sähkön
    osuus, jolloin jäljelle jäävä kerroin on hieman suurempi. Toisaalta parametrin avulla voi säätää vihreän sähkön päästökertoimen samaksi kuin muillakin.
  description_en: The residual emission factor applies to the part of electricity consumption
    that is not green. The share of emission-free green electricity has been subtracted from the
    total emission factor, resulting in a slightly higher remaining factor.
  description_sv: Residual emissionsfaktorn gäller den delen av elförbrukningen som inte är
    grön. Andelen utsläppsfri grön el har alltså dragits av från den totala emissionsfaktorn,
    vilket ger en något högre återstående faktor.
  type: generic.GenericNode
  quantity: emission_factor
  unit: kg/MWh
  input_dimensions: [energy_carrier, do_correction]
  output_dimensions: [energy_carrier, do_correction]
  input_nodes:
  - id: electricity_production_emission_factor
    tags: [non_additive]
    from_dimensions:
    - id: energy_carrier
      flatten: true
  - id: emission_factor_ratio
    to_dimensions:
    - id: do_correction
  - id: green_electricity_index
  params:
  - id: operations
    value: multiply,select_variant
  - id: categories
    value: do_correction:do
  - id: do_correction
    ref: statistical_correction

- id: non_heating_electricity_energy
  name_fi: Kulutussähkön sähkönkulutus
  name_en: Consumption electricity consumption
  name_sv: Elförbrukning för konsumtionsel
  type: generic.DimensionalSectorEnergy
  unit: GWh/a
  color: '#0047b6'
  input_dimensions: [economic_sector, energy_carrier]
  output_dimensions: [economic_sector, energy_carrier]
  input_nodes: [all_hsy_emissions]
  params:
    sector: Sähkö|Kulutussähkö|_energy_carrier_|_economic_sector_

- id: electricity_production_emission_factor
  name_fi: Kansallisen sähköntuotannon päästökerroin
  name_en: National electricity production emission factor
  name_sv: Nationell elproduktions emissionsfaktor
  type: generic.DimensionalSectorEmissionFactor
  unit: g/kWh
  input_dimensions: [energy_carrier]
  output_dimensions: [energy_carrier]
  input_nodes: [all_hsy_emissions]
  params:
    sector: Sähkö|Kulutussähkö|_energy_carrier_|*

- id: electric_heating_emission_factor_ratio
  name_en: Electric heating emission factor ratio
  name_fi: Lämmityssähkön lisäkerroin
  name_sv: Emissionsfaktor för eluppvärmning
  description_fi: Tämän verran enemmän on lämmityssähkön päästökerroin, koska kulutus
    painottuu talviaikaan, jolloin on enemmän fossiilista tuotantoa.
  type: generic.GenericNode
  quantity: fraction
  unit: '%'
  input_dimensions: [energy_carrier]
  output_dimensions: [energy_carrier]
  input_datasets:
  - id: espoo/electricity/lammityssahkon_lisakerroin
    tags: [baseline]
    column: lammityssahkon_lisakerroin

- id: electric_heating_emission_factor
  name_en: Electric heating emission factor
  name_fi: Lämmityssähkön päästökerroin
  name_sv: Emissionsfaktor för eluppvärmning
  type: generic.GenericNode
  quantity: emission_factor
  unit: g/kWh
  input_dimensions: [energy_carrier]
  output_dimensions: [energy_carrier]
  input_nodes:
  - id: residual_emission_factor
    tags: [non_additive]
    from_dimensions:
    - id: do_correction
      flatten: true
  - id: electric_heating_emission_factor_ratio
    tags: [arithmetic_inverse, complement]
