dimensions:

- id: vehicle_type
  label_fi: Ajoneuvotyyppi
  label_en: Vehicle type
  label_sv: Fordonstyp
  categories:
  - id: cars
    aliases: [passenger_cars]
    label_fi: Henkilöautot
    label_en: Cars
    label_sv: Personbilar
  - id: electric_vehicles
    label_fi: Sähköautot
    label_en: Electric vehicles
    label_sv: Elbilar
  - id: hybrid_vehicles
    label_fi: Hybridit
    label_en: Hybrid vehicles
    label_sv: Hybridbilar
  - id: buses
    label_fi: Bussit
    label_en: Buses
    label_sv: Bussar
    aliases: [Linja-autot]
  - id: buses_hsl
    label_fi: Bussit, HSL
    label_en: Buses, HSL
    label_sv: Bussar, HRT
  - id: buses_other
    label_fi: Bussit, muu
    label_en: Buses, other
    label_sv: Bussar, övriga
  - id: local_trains
    label_fi: Lähijunat
    aliases: [Paikallisjunat]
    label_en: Commuter trains
    label_sv: Pendeltåg
  - id: motorcycles
    label_fi: Moottoripyörät
    label_en: Motorcycles
    label_sv: Motorcyklar
  - id: trams
    label_fi: Raitiovaunut
    aliases: [Ratikat]
    label_en: Trams
    label_sv: Spårvagnar
  - id: metros
    label_fi: Metrot
    aliases: [Metro, metro]
    label_en: Metro
    label_sv: Tunnelbana
  - id: trucks
    label_fi: Kuorma-autot
    label_en: Trucks
    label_sv: Lastbilar
    aliases: [Lorries]
  - id: vans
    label_fi: Pakettiautot
    label_en: Vans
    label_sv: Paketbilar
  - id: undefined
    label_fi: Ei määritelty
    label_en: Undefined
    label_sv: Odefinierad
  - id: leasure_boats
    label_fi: Huviveneet
    label_en: Leisure boats
    label_sv: Fritidsbåtar
  - id: professional_boats
    label_fi: Ammattiveneet
    label_en: Professional boats
    label_sv: Yrkesfartyg
  - id: passenger_ships
    label_fi: Matkustajalaivat
    label_en: Passenger ships
    label_sv: Passagerarfartyg
  - id: cargo_ships
    label_fi: Rahtilaivat
    label_en: Cargo ships
    label_sv: Lastfartyg

nodes:

# ------- Common nodes -------

- id: all_hsy_emissions
  type: finland.hsy.HsyNode
  name_fi: HSY:n päästöinventaario
  name_en: HSY emission inventory
  name_sv: HRM:s utsläppsinventering
  input_datasets: ['hsy/pks_khk_paastot']

- id: net_emissions
  name_fi: Kokonaispäästöt (scope 1+2)
  name_en: Net emissions (scope 1+2)
  name_sv: Totala utsläpp (scope 1+2)
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  is_outcome: true

# ------- Block nodes -------

- id: road_traffic_emission_factors
  name: Tieliikenteen päästökertoimet
  type: generic.GenericNode
  quantity: emission_factor
  unit: g/vkm
  input_dimensions: [vehicle_type, economic_sector]
  output_dimensions: [vehicle_type, economic_sector]
  input_datasets:
  - id: espoo/tieliikenteen_paastokertoimet
    column: paastokerroin
    forecast_from: 2025

- id: road_traffic_mileage
  name: Tieliikenteen ajoneuvosuorite
  type: generic.GenericNode
  quantity: mileage
  unit: Mvkm/a
  input_dimensions: [vehicle_type]
  output_dimensions: [vehicle_type]
  input_datasets:
  - id: espoo/tieliikenteen_ajoneuvosuorite
    column: ajoneuvosuorite
    forecast_from: 2025

- id: transport_emissions
  name_fi: Liikenteen päästöt
  name_en: Transport emissions
  name_sv: Transportutsläpp
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  color: '#014B30'
  output_nodes: [net_emissions]

# Road transport

- id: road_transport_energy_forecast
  name_fi: Tieliikenteen energiaennuste
  name_en: Road transport energy forecast
  name_sv: Prognos för vägtrafikens energiförbrukning
  type: gpc.DatasetNode
  quantity: energy
  unit: GWh/a
  input_dimensions: [vehicle_type, economic_sector]
  output_dimensions: [vehicle_type, economic_sector]
  input_datasets:
  - id: gpc/espoo # TODO Find HSY data instead
    forecast_from: 2025
  params:
    sector: Tieliikenteen suorite-ennuste

- id: hsy_emissions_historical
  name: Historialliset HSY-päästöt
  type: generic.GenericNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [emission_sector, economic_sector]
  output_dimensions: [emission_sector, economic_sector]
  input_datasets:
  - id: hsy/pks_khk_paastot
    column: Päästöt
    filters:
    - rename_col: Sektori2
      value: emission_sector
    - rename_col: Sektori4
      value: economic_sector
    - rename_col: Vuosi
      value: Year
    - column: Kaupunki
      ref: municipality_name
    - column: Sektori1
    - column: Sektori3
      flatten: true

- id: road_traffic_emissions
  name_fi: Tieliikenteen päästöt
  name_en: Road traffic emissions
  name_sv: Vägtrafikens utsläpp
  type: generic.GenericNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [vehicle_type, economic_sector]
  output_dimensions: [vehicle_type, economic_sector]
  input_nodes:
  - id: road_traffic_mileage
  - id: road_traffic_emission_factors
  output_nodes:
  - id: transport_emissions
    from_dimensions:
    - id: vehicle_type
      flatten: true
    to_dimensions:
    - id: economic_sector
    - id: emission_sector
      categories: [road_transport]

# Non-road transport

- id: rail_transport_energy
  name_fi: Raideliikenteen sähkönkulutus
  name_en: Rail transport electricity consumption
  name_sv: Elförbrukning för spårtrafik
  type: generic.DimensionalSectorEnergy
  unit: GWh/a
  input_dimensions: [vehicle_type, economic_sector]
  output_dimensions: [vehicle_type, economic_sector]
  params:
    sector: Liikenne|Raideliikenne|_vehicle_type_|_economic_sector_
  input_nodes: [all_hsy_emissions]

- id: rail_transport_emissions
  name_fi: Raideliikenteen päästöt
  name_en: Rail transport emissions
  name_sv: Utsläpp från spårtrafik
  type: simple.EmissionFactorActivity
  unit: kt/a
  input_dimensions: [vehicle_type, economic_sector]
  output_dimensions: [vehicle_type, economic_sector]
  input_nodes:
  - id: residual_emission_factor
    from_dimensions:
    - id: energy_carrier
      categories: [electricity]
      flatten: true
    - id: do_correction
      flatten: true
    to_dimensions: []
  - id: rail_transport_energy
  output_nodes:
  - id: transport_emissions
    from_dimensions:
    - id: vehicle_type
      flatten: true
    to_dimensions:
    - id: economic_sector
    - id: emission_sector
      categories: [rail_transport]

- id: water_transport_emissions
  name_fi: Laivaliikenteen päästöt
  name_en: Waterborne transport emissions
  name_sv: Utsläpp från sjöfart
  type: generic.DimensionalSectorEmissions
  input_dimensions: [vehicle_type, economic_sector]
  output_dimensions: [vehicle_type, economic_sector]
  input_nodes: [all_hsy_emissions]
  params:
    sector: Liikenne|Laivaliikenne|_vehicle_type_|_economic_sector_
  output_nodes:
  - id: transport_emissions
    from_dimensions:
    - id: vehicle_type
      flatten: true
    to_dimensions:
    - id: economic_sector
    - id: emission_sector
      categories: [ship_transport]
