id: koeln-gpc
default_language: de
supported_languages: [en]
site_url: https://koeln-gpc.paths.staging.kausal.tech
dataset_repo:
  url: https://github.com/kausaltech/dvctest.git
  commit: a9bef53321dca0a21876901c8b5d7e11f2e98a2e
  dvc_remote: kausal-s3
  # Data from https://docs.google.com/spreadsheets/d/1qUIUgAE1Sqbt6qIClxEypuWRi0GpQQUc/edit?gid=1907288926#gid=1907288926
name: Demonstration BASIC+ Treibhausgasinventar
owner: Köln Stadt
theme_identifier: de-koeln
target_year: 2035
model_end_year: 2050
minimum_historical_year: 2008
maximum_historical_year: 2021
emission_unit: kt/a
emission_forecast_from: 2022
emission_dimensions: [scope]
features:
  baseline_visible_in_graphs: true
normalizations:
- normalizer_node: population
  quantities:
  - id: emissions
    unit: t/cap/a

params:
- id: municipality_name
  value: koeln

dimensions:
- id: energietrager
  label: Energieträger
  categories:
  - id: erdgas
    label: Erdgas
  - id: fern_und_nahwarme
    label: Fern- und Nahwärme
  - id: heizol
    label: Heizöl
  - id: kerosin
    label: Kerosin
  - id: kohle
    label: Kohle
  - id: kraftstoffe
    label: Kraftstoffe
  - id: nicht_definiert
    label: Nicht definiert
  - id: sonstiges
    label: Sonstiges
  - id: strom
    label: Strom

- id: eigentum
  label: Eigentum
  categories:
  - id: gemeinde
    label: Gemeinde
  - id: privat
    label: Privat

- id: scope
  label: Scope
  categories:
  - id: scope1
    label: Scope 1
  - id: scope2
    label: Scope 2

emission_sectors:
- id: net_emissions
  name: Netto Emissionen
  is_outcome: true
  goals:
  - normalized_by: population
    label_de: Emissionen
    label_en: Emissions
    default: true
    linear_interpolation: true
    values:
    - year: 2035
      value: 0.3
    is_main_goal: true

nodes:

- id: population
  name_en: Inhabitants
  name_de: Einwohner*in
  type: simple.AdditiveNode
  quantity: population
  unit: cap
  historical_values: [[2008, 1087353], [2023, 1087353]]
  input_dataset_processors: [LinearInterpolation]

- id: private_houses_emissions
  name: Private Haushalte
  type: gpc.DatasetNode
  quantity: emissions
  unit: kt/a
  color: '#00A969'
  input_dimensions: [energietrager, eigentum, scope]
  output_dimensions: [energietrager, eigentum, scope]
  input_datasets:
  - id: gpc/koeln
    filters:
    - column: Sector name
      value: Private Haushalte
  params:
    gpc_sector: I.1
  output_nodes:
  - id: net_emissions
    from_dimensions:
    - id: energietrager
      flatten: true
    - id: eigentum
      flatten: true

- id: commercial_services_emissions
  name: Gewerbe + Sonstiges
  type: gpc.DatasetNode
  quantity: emissions
  unit: kt/a
  color: '#9D0000'
  input_dimensions: [energietrager, eigentum, scope]
  output_dimensions: [energietrager, eigentum, scope]
  input_datasets:
  - id: gpc/koeln
    filters:
    - column: Sector name
      value: Gewerbe+ Sonstiges
  params:
    gpc_sector: I.2
  output_nodes:
  - id: net_emissions
    from_dimensions:
    - id: energietrager
      flatten: true
    - id: eigentum
      flatten: true

- id: industrial_emissions
  name: Industrie
  type: gpc.DatasetNode
  quantity: emissions
  unit: kt/a
  color: '#005B99'
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  input_datasets:
  - id: gpc/koeln
    filters:
    - column: Sector name
      value: Industrie
  params:
    gpc_sector: I.3
  output_nodes:
  - id: net_emissions
    from_dimensions:
    - id: energietrager
      flatten: true

- id: city_building_emissions
  name: Städtische Gebäude
  type: gpc.DatasetNode
  quantity: emissions
  unit: kt/a
  color: '#29ab87'
  input_dimensions: [energietrager, eigentum, scope]
  output_dimensions: [energietrager, eigentum, scope]
  input_datasets:
  - id: gpc/koeln
    filters:
    - column: Sector name
      value: Städtische Gebäude
  params:
    gpc_sector: I.2
  output_nodes:
  - id: net_emissions
    from_dimensions:
    - id: energietrager
      flatten: true
    - id: eigentum
      flatten: true

- id: transport_emissions
  name: Verkehr
  description: HINWEIS! Die Emissionen des Verkehrs für das Jahr 2008 summieren sich
    auf 4219 kt, aber in der Zeile „Gesamt“ steht 2664 kt. Hier verwenden wir die
    Werte für jeden Energieträger.
  type: gpc.DatasetNode
  quantity: emissions
  unit: kt/a
  color: '#AD8F00'
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  input_datasets:
  - id: gpc/koeln
    filters:
    - column: Sector name
      value: Verkehr
  params:
    gpc_sector: II.1
  output_nodes:
  - id: net_emissions
    from_dimensions:
    - id: energietrager
      flatten: true

pages:
- id: home
  name: Koeln BASIC+ Greenhouse Gas Inventory
  path: /
  type: emission
  outcome_node: net_emissions
  lead_title: Übersicht Bilanzen Köln
  lead_paragraph: GPC BASIC+ greenhouse gas inventory (2008-2020) and forecast (2021-2020)
    for the City of Koeln.

scenarios:
- id: baseline
  name: Business as Usual

- id: default
  default: true
  name: Climate Action Plan
  all_actions_enabled: true
