id: potsdam-gpc
default_language: de
supported_languages: []
site_url: https://potsdam-gpc.paths.staging.kausal.tech
dataset_repo:
  url: https://github.com/kausaltech/dvctest.git
  commit: b80adfc41d66d1eb7427d94d9d81c09cdfd5bfc0
  dvc_remote: kausal-s3
name: Potsdam BASIC+ Treibhausgasinventar
owner: Stadt Potsdam
theme_identifier: de-potsdam
target_year: 2050
model_end_year: 2050
minimum_historical_year: 1995
maximum_historical_year: 2022
emission_unit: kt/a
emission_forecast_from: 2023
emission_dimensions: [energietrager, scope, ghg]
features:
  baseline_visible_in_graphs: true
params:
- id: weather_correction
  label: Wetterkorrektur durchführen?
  value: true
  is_customizable: true
  is_visible: true

action_groups:
- id: stationary
  name: Stationär
  color: '#989898'
- id: transport
  name: Transport
  color: '#0505A0'
- id: waste
  name: Abfall
  color: '#007C78'
- id: afolu
  name: AFOLU
  color: '#cccccc'

dimensions:
- id: ghg
  label: THG
  categories:
  - id: co2e
    label: CO2e

- id: energietrager
  label: Energieträger
  categories:
  - id: strom
    label: Strom
  - id: fahrstrom
    label: Fahrstrom
  - id: heizstrom
    label: Heizstrom
  - id: fernwarme
    label: Fernwärme
  - id: nahwarme
    label: Nahwärme
  - id: gas
    label: Gas
  - id: biogas
    label: Biogas
  - id: heizol
    label: Heizöl
  - id: kohle
    label: Kohle
  - id: biomasse
    label: Biomasse
  - id: solarthermie
    label: Solarthermie
  - id: umweltwarme
    label: Umweltwärme
  - id: benzin_fossil
    label: Benzin fossil
  - id: benzin_biogen
    label: Benzin biogen
  - id: diesel_fossil
    label: Diesel fossil
  - id: diesel_biogen
    label: Diesel biogen
  - id: cng_fossil
    label: CNG fossil
  - id: lpg
    label: LPG
  - id: wasserstoff
    label: Wasserstoff

- id: scope
  label: Scope
  categories:
  - id: scope1
    label: Scope 1
  - id: scope2
    label: Scope 2

emission_sectors:
- id: net_emissions
  name: Netto-Emissionen
  is_outcome: true
  goals:
  - label: Ziel Netto-Emissionen
    default: true
    is_main_goal: true
    values:
    - year: 2030
      value: 551
    - year: 2050
      value: 234

nodes:
- id: weather_correction
  name: Witterungsbereinigung
  type: gpc.CorrectionNode
  quantity: ratio
  unit: dimensionless
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  params:
  - id: do_correction
    ref: weather_correction
  - id: gpc_sector
    value: I
  - id: inventory_only
    value: false
  output_nodes:
  - id: i11_residential_fuel_consumption
    tags: non_additive
    to_dimensions: []

- id: i11_residential_fuel_consumption
  name: I.1.1 Brennstoffverbrauch Wohngebäude
  type: gpc.DatasetNode
  quantity: energy
  unit: MWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  params:
    gpc_sector: I.1.1
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: i11_residential_fuel_consumption_emissions
    to_dimensions:
    - id: energietrager
    - id: scope

- id: i11_residential_fuel_consumption_emissions
  name: I.1.1 Emissionen aus Brennstoffverbrauch Wohngebäude
  type: simple.MultiplicativeNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: i11_residential_fuel_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i11_residential_fuel_emission_factor
  name: I.1.1 Emissionsfaktor Brennstoffverbrauch Wohngebäude
  type: gpc.DatasetNode
  quantity: emission_factor
  unit: t/MWh
  input_dimensions: [ghg, energietrager, scope]
  output_dimensions: [ghg, energietrager, scope]
  params:
    gpc_sector: I.1.1
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: i11_residential_fuel_consumption_emissions
    to_dimensions:
    - id: ghg
    - id: energietrager
    - id: scope

- id: i12_residential_grid_energy_consumption
  name: I.1.2 Netzenergieverbrauch Wohngebäude
  type: gpc.DatasetNode
  quantity: energy
  unit: MWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  params:
    gpc_sector: I.1.2
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: i12_residential_grid_energy_consumption_emissions
    to_dimensions:
    - id: energietrager
    - id: scope

- id: i12_residential_grid_energy_consumption_emissions
  name: I.1.2 Emissionen aus Netzenergieverbrauch Wohngebäude
  type: simple.MultiplicativeNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: i12_residential_grid_energy_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i12_residential_grid_energy_emission_factor
  name: I.1.2 Emissionsfaktor Netzenergieverbrauch Wohngebäude
  type: gpc.DatasetNode
  quantity: emission_factor
  unit: t/MWh
  input_dimensions: [ghg, energietrager, scope]
  output_dimensions: [ghg, energietrager, scope]
  params:
    gpc_sector: I.1.2
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: i12_residential_grid_energy_consumption_emissions
    to_dimensions:
    - id: ghg
    - id: energietrager
    - id: scope

- id: i42_energy_grid_energy_consumption
  name: I.4.2 Netzenergieverbrauch Energiesektor
  type: gpc.DatasetNode
  quantity: energy
  unit: MWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  params:
    gpc_sector: I.4.2
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: i42_energy_grid_energy_consumption_emissions
    to_dimensions:
    - id: energietrager
    - id: scope

- id: i42_energy_grid_energy_consumption_emissions
  name: I.4.2 Emissionen aus Netzenergieverbrauch Energiesektor
  type: simple.MultiplicativeNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: i42_energy_grid_energy_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i42_energy_grid_energy_emission_factor
  name: I.4.2 Emissionsfaktor Netzenergieverbrauch Energiesektor
  type: gpc.DatasetNode
  quantity: emission_factor
  unit: t/MWh
  input_dimensions: [ghg, energietrager, scope]
  output_dimensions: [ghg, energietrager, scope]
  params:
    gpc_sector: I.4.2
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: i42_energy_grid_energy_consumption_emissions
    to_dimensions:
    - id: ghg
    - id: energietrager
    - id: scope

- id: ii11_onroad_transport_fuel_consumption
  name: II.1.1 Brennstoffverbrauch Straßenverkehr
  type: gpc.DatasetNode
  quantity: energy
  unit: MWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  params:
    gpc_sector: II.1.1
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: ii11_onroad_transport_fuel_consumption_emissions
    to_dimensions:
    - id: energietrager
    - id: scope

- id: ii11_onroad_transport_fuel_consumption_emissions
  name: II.1.1 Emissionen aus Brennstoffverbrauch Straßenverkehr
  type: simple.MultiplicativeNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: ii11_onroad_transport_fuel_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: ii11_onroad_transport_fuel_emission_factor
  name: II.1.1 Emissionsfaktor Brennstoffverbrauch Straßenverkehr
  type: gpc.DatasetNode
  quantity: emission_factor
  unit: t/MWh
  input_dimensions: [ghg, energietrager, scope]
  output_dimensions: [ghg, energietrager, scope]
  params:
    gpc_sector: II.1.1
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: ii11_onroad_transport_fuel_consumption_emissions
    to_dimensions:
    - id: ghg
    - id: energietrager
    - id: scope

- id: ii12_onroad_transport_grid_energy_consumption
  name: II.1.2 Netzenergieverbrauch Straßenverkehr
  type: gpc.DatasetNode
  quantity: energy
  unit: MWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  params:
    gpc_sector: II.1.2
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: ii12_onroad_transport_grid_energy_consumption_emissions
    to_dimensions:
    - id: energietrager
    - id: scope

- id: ii12_onroad_transport_grid_energy_consumption_emissions
  name: II.1.2 Emissionen aus Netzenergieverbrauch Straßenverkehr
  type: simple.MultiplicativeNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: ii12_onroad_transport_grid_energy_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: ii12_onroad_transport_grid_energy_emission_factor
  name: II.1.2 Emissionsfaktor Netzenergieverbrauch Straßenverkehr
  type: gpc.DatasetNode
  quantity: emission_factor
  unit: t/MWh
  input_dimensions: [ghg, energietrager, scope]
  output_dimensions: [ghg, energietrager, scope]
  params:
    gpc_sector: II.1.2
  input_datasets:
  - id: gpc/potsdam
    forecast_from: 2023
  output_nodes:
  - id: ii12_onroad_transport_grid_energy_consumption_emissions
    to_dimensions:
    - id: ghg
    - id: energietrager
    - id: scope

- id: i11_residential_fuel_total_emissions
  name: I.1.1 Gesamtemissionen Brennstoffverbrauch Wohngebäude
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: i1_residential_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i12_residential_grid_energy_total_emissions
  name: I.1.2 Gesamtemissionen Netzenergieverbrauch Wohngebäude
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: i1_residential_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i1_residential_total_emissions
  name: I.1 Gesamtemissionen Wohngebäude
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: i_stationary_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i42_energy_grid_energy_total_emissions
  name: I.4.2 Gesamtemissionen Netzenergieverbrauch Energiesektor
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: i4_energy_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i4_energy_total_emissions
  name: I.4 Gesamtemissionen Energiesektor
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  color: '#2B729C'
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: net_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i_stationary_total_emissions
  name: I Gesamtemissionen Stationär
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  color: '#9C2B54'
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: net_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: ii11_onroad_transport_fuel_total_emissions
  name: II.1.1 Gesamtemissionen Brennstoffverbrauch Straßenverkehr
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: ii1_onroad_transport_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: ii12_onroad_transport_grid_energy_total_emissions
  name: II.1.2 Gesamtemissionen Netzenergieverbrauch Straßenverkehr
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: ii1_onroad_transport_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: ii1_onroad_transport_total_emissions
  name: II.1 Gesamtemissionen Straßenverkehr
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: ii_transportation_total_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: ii_transportation_total_emissions
  name: II Gesamtemissionen Verkehr
  type: simple.AdditiveNode
  quantity: emissions
  unit: kt/a
  color: '#299575'
  input_dimensions: [energietrager, scope, ghg]
  output_dimensions: [energietrager, scope, ghg]
  output_nodes:
  - id: net_emissions
    to_dimensions:
    - id: energietrager
    - id: scope
    - id: ghg

- id: i_stationary_energy
  name: Stationärer Energieverbrauch
  type: simple.AdditiveNode
  quantity: energy
  unit: GWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  input_nodes:
  - i11_residential_fuel_consumption
  - i12_residential_grid_energy_consumption
  output_nodes:
  - total_energy_consumption

- id: electricity_consumption_without_heating
  name: Stromverbrauch (ohne Heizung)
  type: simple.AdditiveNode
  quantity: energy
  unit: GWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  input_nodes:
  - i42_energy_grid_energy_consumption
  output_nodes:
  - total_energy_consumption
  params:
  - id: drop_nulls
    value: true
  - id: drop_nans
    value: true

- id: on_road_transport_energy_consumption
  name: Energieverbrauch im Transportwesen
  type: simple.AdditiveNode
  quantity: energy
  unit: GWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]
  input_nodes:
  - ii12_onroad_transport_grid_energy_consumption
  - ii11_onroad_transport_fuel_consumption
  output_nodes:
  - total_energy_consumption
  params:
  - id: drop_nulls
    value: true
  - id: drop_nans
    value: true

- id: total_energy_consumption
  name: Gesamtenergieverbrauch
  type: simple.AdditiveNode
  quantity: energy
  unit: GWh/a
  input_dimensions: [energietrager, scope]
  output_dimensions: [energietrager, scope]

actions:

- id: i11_residential_fuel_consumption_action
  name: I.1.1 Aktion Brennstoffverbrauch Wohngebäude
  type: gpc.DatasetAction
  quantity: energy
  unit: MWh/a
  group: stationary
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, scope]
  params:
  - id: gpc_sector
    value: I.1.1
  output_nodes: [i11_residential_fuel_consumption]

- id: i11_residential_fuel_emission_factor_action
  name: I.1.1 Aktion Emissionsfaktor Brennstoffverbrauch Wohngebäude
  type: gpc.DatasetAction
  quantity: emission_factor
  unit: t/MWh
  group: stationary
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, ghg, scope]
  params:
  - id: gpc_sector
    value: I.1.1
  output_nodes: [i11_residential_fuel_emission_factor]

- id: i12_residential_grid_energy_consumption_action
  name: I.1.2 Aktion Netzenergieverbrauch Wohngebäude
  type: gpc.DatasetAction
  quantity: energy
  unit: MWh/a
  group: stationary
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, scope]
  params:
  - id: gpc_sector
    value: I.1.2
  output_nodes: [i12_residential_grid_energy_consumption]

- id: i12_residential_grid_energy_emission_factor_action
  name: I.1.2 Aktion Emissionsfaktor Netzenergieverbrauch Wohngebäude
  type: gpc.DatasetAction
  quantity: emission_factor
  unit: t/MWh
  group: stationary
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, ghg, scope]
  params:
  - id: gpc_sector
    value: I.1.2
  output_nodes: [i12_residential_grid_energy_emission_factor]

- id: i42_energy_grid_energy_consumption_action
  name: I.4.2 Aktion Netzenergieverbrauch Energiesektor
  type: gpc.DatasetAction
  quantity: energy
  unit: MWh/a
  group: stationary
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, scope]
  params:
  - id: gpc_sector
    value: I.4.2
  output_nodes: [i42_energy_grid_energy_consumption]

- id: i42_energy_grid_energy_emission_factor_action
  name: I.4.2 Aktion Emissionsfaktor Netzenergieverbrauch Energiesektor
  type: gpc.DatasetAction
  quantity: emission_factor
  unit: t/MWh
  group: stationary
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, ghg, scope]
  params:
  - id: gpc_sector
    value: I.4.2
  output_nodes: [i42_energy_grid_energy_emission_factor]

- id: ii11_onroad_transport_fuel_consumption_action
  name: II.1.1 Aktion Brennstoffverbrauch Straßenverkehr
  type: gpc.DatasetAction
  quantity: energy
  unit: MWh/a
  group: transport
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, scope]
  params:
  - id: gpc_sector
    value: II.1.1
  output_nodes: [ii11_onroad_transport_fuel_consumption]

- id: ii11_onroad_transport_fuel_emission_factor_action
  name: II.1.1 Aktion Emissionsfaktor Brennstoffverbrauch Straßenverkehr
  type: gpc.DatasetAction
  quantity: emission_factor
  unit: t/MWh
  group: transport
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, ghg, scope]
  params:
  - id: gpc_sector
    value: II.1.1
  output_nodes: [ii11_onroad_transport_fuel_emission_factor]

- id: ii12_onroad_transport_grid_energy_consumption_action
  name: II.1.2 Aktion Netzenergieverbrauch Straßenverkehr
  type: gpc.DatasetAction
  quantity: energy
  unit: MWh/a
  group: transport
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, scope]
  params:
  - id: gpc_sector
    value: II.1.2
  output_nodes: [ii12_onroad_transport_grid_energy_consumption]

- id: ii12_onroad_transport_grid_energy_emission_factor_action
  name: II.1.2 Aktion Emissionsfaktor Netzenergieverbrauch Straßenverkehr
  type: gpc.DatasetAction
  quantity: emission_factor
  unit: t/MWh
  group: transport
  input_datasets:
  - id: gpc/potsdam_master_plan_actions
    forecast_from: 2022
  output_dimensions: [energietrager, ghg, scope]
  params:
  - id: gpc_sector
    value: II.1.2
  output_nodes: [ii12_onroad_transport_grid_energy_emission_factor]

pages:
- id: home
  name: Potsdam BASIC+ Treibhausgasinventar
  path: /
  type: emission
  outcome_node: net_emissions
  lead_title: Potsdam Zielwerte Masterplan
  lead_paragraph: GPC BASIC+ Treibhausgasinventar (1995-2022) und Prognose (2023-2050)
    für die Stadt Potsdam.

scenarios:
- id: baseline
  name: Business as Usual

- id: default
  default: true
  name: Klimaschutzplan
  all_actions_enabled: true
